<!DOCTYPE html>
<head>
    <title>Hello world</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/custom.css">
</head>
<body>

    <% include ./partials/navbar %>

    <%- body -%>

    <% include ./partials/footer %>
    
</body>
</html>